
<!-- NAV LINKS -->
<nav>
    <!-- Brand and toggle get grouped for better mobile display -->
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-tabis" aria-expanded="false"> <span class="tittle">MENU</span> <span class="fa fa-navicon icon-nav"></span> </button>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="nav-tabis">
        <ul class="isop-filter main-nav">
            <li class="active"><a href="/" ><i class="fa fa-user"></i> ABOUT ME</a></li>
            <li ><a href="resume.html" ><i class="fa fa-book"></i>RESUME</a></li>
            <li ><a href="portfolio.html" ><i class="fa fa-rocket"></i>PORTFOLIO</a></li>
            <li ><a href="blog.html" ><i class="fa fa-edit"></i>BLOG</a></li>
            <li ><a href="contact.html" ><i class="fa fa-pencil"></i>CONTACT ME</a></li>
        </ul>
    </div>
</nav>
<!-- NAV LINKS END -->